/* Global styles */
.project,
.project input {
    font-family: Helvetica, sans-serif;
}
.project a {
    color: #36a;
    text-decoration: none;
}
.project a:hover {
    text-decoration: underline;
}
.template {
    display: none;
}
.project ul,
.project ol,
.project li {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Fonts - very specific to override Confluence styles */
.project,
.project li,
.project input {
    font-size: 12px;
}

/* Editable content styles */
.editable-enabled .editable:hover {
    background: #ffc;
}
.editable.disabled:hover {
    background: transparent;
}
.editable input {
    font-size: 1em;
    font-weight: normal;
    min-width: 30px;
}

/* Project header and global styles */
.project {
    float: left;
    border: 1px solid #6487c1;
    margin-bottom: 20px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
.project .header {
    overflow: hidden;
    background: #6487c1 url(images/blue-gradient.png) repeat-x;
    padding-left: 5px;
    color: #fff;
    height: 24px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
.project .header .operations a {
    border-left: 1px solid #369;
    color: #fff;
    display: block;
    height: 16px;
    line-height: 16px;
    padding: 4px 10px;
}
.project .header .operations li:last-child a {
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
}
.project .header .operations a:hover {
    background: #6487c1;
    text-decoration: none;
}
.project .headings {
    line-height: 16px;
    margin-bottom: -10px;
}
.project .items {
    border-top-width: 0;
}
.project .operations {
    float: right;
    overflow: hidden;
}
.project .operations li {
    float: left;
}
.project .operations a {
    font-size: .9em;
}
.project h3,
.project h4 {
    font-weight: normal;
    margin: 0;
}
.project h3 {
    color: #fff !important; /* override Confluence colors */
    font-size: 1.2em;
    line-height: 24px;
    margin-left: 5px;
}
.project h4 {
    font-size: 1em;
    color: #000 !important; /* override Confluence colors */
}

/* Task and iteration layout */
.project .headings,
.project .iteration,
.project .task {
    overflow: hidden; /* enclose floats */
}
.project .task {
    padding: 5px;
}
.project .iteration,
.project .headings {
    padding: 2px 0 2px 5px;
}
.project .iteration {
    border-top: 1px solid #ddd;
    background: #eee url(images/light-grey-gradient.png) repeat-x;
    margin-top: 10px;
}
.project .iteration .operations {
    height: 20px;
    margin: -2px 0;
}
.project .iteration .operations a {
    border-left: 1px solid #bbb;
    color: #666;
    display: block;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
}
.project .iteration .operations a:hover {
    background: #eee;
    text-decoration: none;
}
.project .iteration,
.project .iteration h4, /* override Confluence specific styles */
.project .task {
    line-height: 16px;
}
.project h3,
.project h4,
.project .handle,
.project .status,
.project .title,
.project .estimate,
.project .notes {
    float: left;
}
.project .title {
    width: 400px;
}
.project .estimate {
    width: 40px;
    margin-left: 20px;
}
.project .notes {
    min-width: 100px;
    margin-left: 20px;
    margin-right: 10px;
}

/* Status check */
.project .status {
    background: none no-repeat left 50%;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
.project .complete .title,
.project .complete .estimate,
.project .complete .notes {
    opacity: 0.5;
}
.editable-enabled .task:hover .status {
    background-image: url(images/confluence/check.png);
    opacity: 0.3;
}
.project .task.complete .status {
    background-image: url(images/confluence/check.png);
    opacity: 1;
}
.project .iteration.complete .status {
    background-image: url(images/confluence/check.png);
    opacity: 0.3;
}
.project .headings .status {
    visibility: hidden;
}

/* Drag handle */
.project .handle {
    background: url(images/handle.png) repeat-y;
    cursor: move;
    height: 15px;
    overflow: hidden;
    margin: 1px 5px 0 0;
    text-indent: -9999px;
    width: 11px;
}

/* Column headings */
.project .headings {
    font-size: .95em;
    font-style: italic;
    color: #999;
    border-bottom-width: 0;
    border-top-width: 0;
}
.project .headings .handle {
    background-image: none;
    cursor: default;
}

/* Dragging styles */
.project .drag-placeholder {
    background: #06d;
    border: 4px solid #fff;
    border-left-color: #06d; /* arrow on the left */
    border-right-color: #06d; /* arrow on the right */
    height: 1px;
    margin: 10px 4px;
}
.project .ui-sortable-helper {
    opacity: 0.8;
    border: 1px solid #eee;
    background: #fff;
}
.project .ui-sortable-helper .status {
    visibility: hidden;
}
.project .ui-sortable-helper.complete .status {
    visibility: visible;
}

/* Chart */
.project .charts {
    border-bottom: 2px groove #ddd;
}
.project .iteration-chart,
.project .project-chart {
    margin: 0 auto;
    padding: 20px 10px;
    width: 600px;
}
.project .iteration-chart {
    height: 180px;
}
.project .project-chart {
    height: 120px;
}

/* Loading message */
.project .loading-message {
    display: none;
}
.project.loading .items {
    display: none;
}
.project.loading .loading-message {
    display: block;
    height: 150px;
    padding-top: 75px;
    font-size: 1.5em;
    color: #aaa;
    text-align: center;
}
.project .loading-message span {
    background: url(../../images/icons/wait.gif) left 50% no-repeat;
    padding-left: 30px;
}
